<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="image2.jpeg"height="500px" width="500px" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">

                <h3>Best Shopping Platform</h3>
                    <h5>For Buying  Best Product With High Discount </h5>

                </div>
            </div>
            <div class="carousel-item">
                <img src="image1.jpeg" height="500px" width="500px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="image.3.jpeg" height="500px" width="500px" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Start Category-->
    <div class="container">
        <div class="row">
            <p class="text-center fs-4">Category</p>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="image/tv.jpeg " width="65%" height="140px">
                    <p>TV</p>

                    </div>
                </div>
                </div>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="image/cort.jpeg " width="65%" height="140px">
                        <p>Clothes</p>

                    </div>
                </div>
        </div>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="image/laptop.jpeg " width="65%" height="140px">
                        <p>acer-5 13gen laptop </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="image/mobile.jpeg " width="65%" height="140px">
                        <p>SmartPhone</p>

                    </div>
                </div>
                </div>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="image/washing.jpeg " width="65%" height="140px">
                        <p>Washing Machine</p>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="image/tv.jpeg " width="65%" height="140px">
                        <p>Electronices</p>

                    </div>
                </div>
            </div>

            </div>
        </div>
    <!--End of the modeule-->

    <!--Start latest produect module-->

    <div class="container-fluid bg-light p-3">
        <div class="row">
            <p class="text-center fs-4">Latest Product</p>

    <div class="col-md-3">
    <div class="card ">
        <div class="card-body text-center">
            <img src="latest Product/mackbook.jpeg " width="65%" height="140px">
            <p class="text-center">MackBook Laptop</p>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="card ">
            <div class="card-body text-center">
                <img src="latest Product/camera.jpeg " width="65%" height="140px">
                <p class="text-center">Camera </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card ">
            <div class="card-body text-center">
                <img src="latest Product/food.jpeg " width="65%" height="140px">
                <p class="text-center">Food items</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card ">
            <div class="card-body text-center">
                <img src="latest Product/image11.jpeg " width="65%" height="140px">
                <p class="text-center">MackBook Laptop with M1-Chip</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card ">
            <div class="card-body text-center">
                <img src="latest Product/ipone.jpeg " width="65%" height="140px">
                <p class="text-center">Iphone X</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card ">
            <div class="card-body text-center">
                <img src="latest Product/bed.jpeg" width="65%" height="140px">
                <p class="text-center">Bed Set</p>
            </div>
        </div>
    </div>
            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body text-center">
                        <img src="latest Product/sofa.jpeg " width="65%" height="140px">
                        <p class="text-center">Sofa Set</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card ">
                <div class="card-body text-center">
                    <img src="latest Product/table.jpeg " width="65%" height="140px">
                    <p class="text-center">Kitchen Table</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Adding footer-->
    <div class="container-fluid p-1 bg-primary text-center text-white">
        <p>ecom.com.np</p>
    </div>

</section>
</body>
</html>